
    <div class="container-fluid">
        <div class="col-sm-8" style="background-color:white;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="btn-group btn-group-xs">
                    </div>
      
</div>
                <div class="panel-body">
                   <div id="editor1"></div>
                          
                                <div class="panel panel-default">
                                    <div class="panel-body">
                    <div class="btn-group btn-group-xs">
<button  type="button" class="btn btn-secondary"    id ="btnSubmitCode" >run</button>
<button  type="button" class="btn btn-secondary" id="btnOriginal">Text</button>
<button  type="button" class="btn btn-secondary" id="btnTokenize">Tokenized</button>
</div>

                                    </div>
                                </div>
                          
                        </div>
                    </div>
            </div>
           

                <div class="col-sm-4" style="background-color:white;">
                    <div class="panel panel-default">
                        <div class="panel-heading">Context</div>
                        <div class="panel-body">
                            <div id="editor2"></div>
                        </div>
                    </div>
                </div>
            </div>






