<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form>
<div class="form-group">
<textarea class="form-control" id="inputProgram" rows="4"></textarea>
</div>
<nav class="navbar navbar-light bg-light justify-content-between">
<button  type="button" class="btn btn-primary" id="btnOriginal">Text</button>
<button  type="button" class="btn btn-primary" id="btnTokenize">Tokenized</button>
</nav>
</form>
